<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div id="dashboard">
		<div class="cardBox">
			<div class="card">
				<div>
					<div class="numbers" id="totalTeams"></div>
					<div class="cardName">Total Teams</div>
				</div>
				<div class="iconBx">
					<i class="bi bi-list-stars"></i>
				</div>
			</div>

			<div class="card">
				<div>
					<div class="numbers" id="projectAmount"></div>
					<div class="cardName">Total Projects</div>
				</div>
				<div class="iconBx">
					<i class="bi bi-kanban"></i>
				</div>
			</div>

			<div class="card">
				<div>
					<div class="numbers" id="currentDate">Date</div>
					<div class="cardName">Date</div>
				</div>
				<div class="iconBx">
					<i class="bi bi-calendar"></i>
				</div>
			</div>
		</div>
	</div>

	<div class="details">
		<!-- Task Creation -->
		<div class="todo">
			<div class="cardHeader">
				<h2>Create Tasks</h2>
				<button id="openCreateTasktModal" class="btn btn-primary">New</button>
			</div>
			<table id="task-table" class="table">
				<thead>
					<tr>
						<th>Task Name</th>
						<th>Assigned Project</th>
						<th>Assigned Person</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<!-- Body should populate -->
				</tbody>
			</table>
		</div>
		<!-- Project Creation -->
		<div class="todo">
			<div class="cardHeader">
				<h2>Your Projects</h2>
				<button id="openProjectModal" class="btn btn-primary">New</button>
			</div>
			<table id="project-table" class="table">
				<thead>
					<tr>
						<th>Project Name</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<!-- Body should populate -->
				</tbody>
			</table>
		</div>
	</div>


	<!-- New Project Modal -->
	<div class="modal fade" id="newProjectModal" tabindex="-1"
		aria-labelledby="newProjectModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="newProjectModalLabel">New Project</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form>
						<div class="mb-3">
							<label for="project-name" class="form-label">Project Name</label>
							<input type="text" id="project-name" name="project-name"
								class="form-control" placeholder="Enter Project Name">
						</div>
						<button type="button" class="btn btn-primary mb-4"
							onclick="createProject()">Create</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- New Task Modal -->
	<div class="modal fade" id="newCreateTaskModal" tabindex="-1"
		aria-labelledby="newCreateTaskModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="newCreateTaskModalLabel">New Task</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form>
						<div class="mb-3">
							<label for="task-name" class="form-label">Task Name</label> <input
								type="text" id="task-name" name="task-name" class="form-control"
								placeholder="Enter Task Name">
						</div>
						<div class="mb-3">
							<label for="assign-project" class="form-label">Assign
								Project</label> <select id="assign-project" name="assign-project"
								class="form-select">
								<!-- Project options will be dynamically added here -->
							</select>
						</div>
						<div class="mb-3">
							<label for="assign-person" class="form-label">Assign to
								Person</label> <select id="assign-person" name="assign-person"
								class="form-select">
								<!-- Person options will be dynamically added here -->
							</select>
						</div>
						<button type="button" class="btn btn-primary mb-4"
							onclick="createTask()">Create</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/managerHome.js"></script>


</body>
</html>
